.root {
  padding: var(--mantine-spacing-2xs) var(--mantine-spacing-md);
  background-color: var(--mantine-color-dark-8);
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.logo {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.divider {
  align-self: stretch;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  composes: title from '../../styles/sectionHeading.module.css';
}

.subtitle {
  composes: subtitle from '../../styles/sectionHeading.module.css';
}
