html,
body {
  min-height: 100%;
}

body {
  letter-spacing: 0.18px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
  }
}
