.root {
  composes: root from '../../styles/actionable.module.css';
}

.root:active {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-white);
  color: var(--mantine-color-black);
}

.root[data-destructive='true'] {
  background-color: var(--mantine-color-red-8);
  border-color: var(--mantine-color-red-8);
  color: var(--mantine-color-white);
}

.root[data-destructive='true']:hover {
  background-color: var(--mantine-color-red-6);
  color: var(--mantine-color-black);
}

.root[data-destructive='true']:active {
  background-color: var(--mantine-color-red-7);
  border-color: var(--mantine-color-red-7);
  color: var(--mantine-color-white);
}

.icon {
  composes: icon from '../../styles/actionable.module.css';
}
