.root {
  composes: root from '../../styles/actionable.module.css';
}

.root:active {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-white);
  color: var(--mantine-color-black);
}

.icon {
  composes: icon from '../../styles/actionable.module.css';
}
